$side-menu-color: #81B29A;
$body-color: #F4F1DE;
$accent-color: #E07A5F;

.navbar-container {
    background-color: $side-menu-color;
    width: 100vw;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container a {
    color: $body-color;
}

.navbar-container a:hover {
    color: white;
    transform: scale(1.1);
    transition: all 0.3s;
}

.navbar-container a:first-child {
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.navbar-container a:last-child {
    margin-right: 1rem;
    font-size: 3rem;
    z-index: 3;
    cursor: pointer;
}

.side-menu-container {
    position: fixed;
    top: 0rem;
    right: 0;
    height: 24rem;
    width: 20rem;
    transition:  ease-in-out 0.5s;

    background-color: $side-menu-color;
    border-radius: 0 0 0 1rem;
    box-shadow: black 0 0 1rem -0.2rem;
}

.side-menu-double-option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 4rem;
    width: 100%;
    height: 16rem;
}

.side-menu-single-option-container {
    margin-top: 4rem;
    width: 100%;
    height: 20rem;
}

.side-menu-option-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 6rem;
    margin-top: 2rem;

    color: $body-color;
}

.side-menu-auth-button {
    cursor: pointer;
    font-size: 1rem;
    background-color: $accent-color;
    padding: 0.7rem;
    color: $body-color;
    border-radius: 0.5rem;
    box-shadow: black 0 0 0.5rem -0.2rem;
}

.username-logout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.username {
    font-size: 2rem;
    margin-top: 0.4rem;
}

