<nav class="navbar-container">
    <a class="material-icons" routerLink="/">home</a>
    <img alt="logo">
    @if (!isVisible()) {
        <a class="material-icons" (click)="openMenu()">menu</a>
    } @else {
        <a class="material-icons" (click)="closeMenu()">menu</a>
    }
</nav>

<div class="side-menu-container"
     [style.transform]="'translateX(' + offset + 'rem)'"
     [style.opacity]="visibility">
    @if (authService.currentUserSig() == null) {
        @if (signInClicked) {
            <div class="side-menu-single-option-container">
                <app-sign-in></app-sign-in>
                <div class="side-menu-option-text-container">
                    <div>
                        Don't have an account?
                    </div>
                    <div>
                        <a class="side-menu-auth-button" (click)="onClickSignUp()">Sign up</a>
                    </div>
                </div>
            </div>
        } @else {
            @if (signUpClicked) {
                <div class="side-menu-single-option-container">
                    <app-sign-up></app-sign-up>
                    <div class="side-menu-option-text-container">
                        <div>
                            Already have an account?
                        </div>
                        <div>
                            <a class="side-menu-auth-button" (click)="onClickSignIn()">Sign in</a>
                        </div>
                    </div>
                </div>
            } @else {
                <div class="side-menu-double-option-container">
                    <a class="side-menu-auth-button" (click)="onClickSignIn()">Sign in</a>
                    <a class="side-menu-auth-button" (click)="onClickSignUp()">Sign up</a>
                </div>
            }
        }
    } @else {
        <div class="username-logout-container">
            <div class="text-container">
                <div>You are currently logged in as</div>
                <div class="username">{{authService.currentUserSig()?.username}}</div>
            </div>
            <a class="side-menu-auth-button" [style.width.rem]="3.3" (click)="logout()">Logout</a>
        </div>
    }
</div>

